<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pipe-demo']">Pipe Demo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/observable-demo']">Observable Demo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/new-employee']">New Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lazy']">Lazy Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product', 3, 'iPhone']"
                [queryParams]="{'book_id': 99}">Product</a>
        </li>

    </ul>
</nav>

<ul>

</ul>