<div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <p class="text-center display-4">Login Form</p>
            </div>
            <div class="card-body">
                <form #f = "ngForm">
                    <!-- Email Field -->
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="email" name="email" 
                            class="form-control" required email ngModel>
                    </div>
                    <!-- Password Field -->
                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" name="password" 
                            class="form-control" required minlength="6" ngModel>
                    </div>
                    <!-- Login Button -->
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" 
                            (click)="onLogin(f)" 
                            [disabled] = "!f.valid">Login</button>
                    </div>
                    <!-- Form Value : {{ f.valid }} -->
                </form>
            </div>
        </div>
    </div>
</div>