.ng-dirty.ng-invalid[type="email"]{
    border-left : 3px red solid;
}
.ng-dirty.ng-valid[type="email"]{
    border-left : 3px green solid;
}
.ng-dirty.ng-invalid[type="password"]{
    border-left : 3px red solid;
}
.ng-dirty.ng-valid[type="password"]{
    border-left : 3px green solid;
}
